# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.vscode
config.yaml
local-config/


# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
local-config
public-key
ssd-token
AESEncryptionKey
token

# Test coverage files
*.out
coverage.html
coverage/
nul
